<footer class="footer" id="footer">
    <hr>
    <h2 class="footer__heading">AI Boost</h2>
    <div class="footer__container">
        <div class="footer__container__contacts">
            <p>123-456-7890<br>rusakvlad2&#64;gmail.com</p>
            <p>500 Terry Francine Street, 6th Floor, San Francisco, CA 94158</p>
        </div>
        <div class="footer__container__menu">
            <nav class="footer__container__menu__nav">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#book">Book Online</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#program">Program List</a></li>
                </ul>
            </nav>
            <p>© 2035 by AIBoost. Made by Rusak Vladislav :3</p>
        </div>
    </div>
</footer>