.background {
    position: fixed;
    top: 5vh;
    left: 0;
    z-index: -1;
    background: url('../../assets/images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(1);
    background-size: 55%;
    width: 100vw;
    height: 100vh;
    animation: scroll-slide linear;
    animation-timeline: scroll();
}
.main {
    width: auto;
    height: 85vh;
    text-align: center;
    &__heading {
        text-shadow: 1px 1px 0 white;
        font-size: 72px;
        padding: 152px 0 16px;
    }
    &__subheading {
        text-shadow: 0.5px 0.5px 0 white;
        font-size: 36px;
        padding: 24px 0;
    }
    button {
        font-size: 16px;
        margin: 16px 0;
        background: #5300BC;
        color: white;
        border-radius: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        transition: all 1s ease-in-out;
        &:hover {
            border-radius: 32px;
            box-shadow: 1px 1px 0 white, -1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white;
        }
    }
}
@keyframes scroll-slide {
    33% {
        filter: brightness(3);
        background-size: 100%;
    }
    70% {
        filter: brightness(2);
        background-position-x: 5vw;
        background-size: 80%;
    }
    100% {
        filter: brightness(0.5);
        background-position-x: center;
        background-size: 55%;
    }
}

.services {
    margin: 32px 96px;
    &__heading {
        font-size: 64px;
        font-weight: lighter;
        letter-spacing: -3px;
        text-shadow: 0.5px 0.5px 0 white;
        margin: 36px 0;
    }
    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        text-shadow: 0.4px 0.4px 0 white;
        &__card {
            font-size: 35px;
            font-weight: lighter;
            border: 1px solid #5300BC;
            padding: 24px;
            box-shadow: 1px 1px 0 white, -1px -1px 0 white;
            hr {
                margin: 24px 0;
                border: 1px solid #5300BC;
                box-shadow: 0px 0.5px 0 white;
            }
            p {
                font-size: 24px;
                margin: 24px 0;
            }
            button {
                border: none;
                font-size: 18px;
                background: #5300BC;
                color: white;
                padding: 8px 16px;
                box-shadow: 1px 1px 0 white;
                cursor: pointer;
                transition: all 1s;
                &:hover {
                    box-shadow: 1px 1px 0 white, -1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white;
                }
            }
        }
    }
}
.events {
    margin: 96px;
    &__heading {
        font-size: 64px;
        font-weight: lighter;
        letter-spacing: -3px;
        text-shadow: 0.5px 0.5px 0 white;
        margin: 36px 0;
    }
    &__cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
        text-shadow: 0.4px 0.4px 0 white;
        &__card {
            font-size: 35px;
            font-weight: lighter;
            border: 1px solid #5300BC;
            padding: 120px 24px;
            box-shadow: 1px 1px 0 white, -1px -1px 0 white;
            p {
                font-size: 24px;
                margin: 36px 0;
            }
            button {
                border: none;
                font-size: 18px;
                background: #5300BC;
                color: white;
                padding: 8px 16px;
                box-shadow: 1px 1px 0 white;
                cursor: pointer;
                transition: all 1s;
                &:hover {
                    box-shadow: 1px 1px 0 white, -1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white;
                }
            }
        }
    }
}
.blog {
    margin: 96px;
    &__heading {
        font-size: 64px;
        font-weight: lighter;
        letter-spacing: -3px;
        text-shadow: 0.5px 0.5px 0 white;
        margin: 36px 0;
    }
    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        text-shadow: 0.4px 0.4px 0 white;
        &__card {
            font-size: 35px;
            font-weight: lighter;
            border: 1px solid #5300BC;
            padding: 24px;
            box-shadow: 1px 1px 0 white, -1px -1px 0 white;
            hr {
                margin: 24px 0;
                border: 1px solid #5300BC;
                box-shadow: 0px 0.5px 0 white;
            }
            p {
                font-size: 24px;
                margin: 24px 0;
            }
            button {
                border: none;
                font-size: 18px;
                background: #5300BC;
                color: white;
                padding: 8px 16px;
                box-shadow: 1px 1px 0 white;
                cursor: pointer;
                transition: all 1s;
                &:hover {
                    box-shadow: 1px 1px 0 white, -1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white;
                }
            }
        }
    }
}