<div class="background"></div>
<article class="main">
    <h2 class="main__heading">AI Boosting Your Success</h2>
    <p class="main__subheading">Leading the Future of Automation</p>
    <button>Get Started</button>
</article>
<section class="services">
    <h2 class="services__heading">Services</h2>
    <div class="services__cards">
        @for (service of servicesList(); track service.id) {
            <div class="services__cards__card">
                <h3>{{ service.name }}</h3>
                <hr>
                <p>{{ service.price | currency: 'USD' : 'symbol' : '1.0-0'}}</p>
                <button>Book Now</button>
            </div>
        }
    </div>
</section>
<section class="events">
    <h2 class="events__heading">Events</h2>
    <div class="events__cards">
        @for (event of eventsList(); track event.id) {
            <div class="events__cards__card">
                <h3>{{ event.name }}</h3>
                <p>{{ event.date }}</p>
                <p>{{ event.address }}</p>
                <button>Register Now</button>
            </div>
        }
    </div>
</section>
<section class="blog">
    <h2 class="blog__heading">Blog</h2>
    <div class="blog__cards">
        @for (blog of blogList(); track blog.id) {
            <div class="blog__cards__card">
                <img [src]="'assets/images/' + blog.image">
                <p>{{ blog.author }}</p>
                <h3>{{ blog.name }}</h3>
                <p>{{ blog.description }}</p>
                <hr>
                <div class="blog__cards__card__footer">
                    <div class="blog__cards__card__views">{{ blog.views }}</div>
                    <div class="blog__cards__card__likes">{{ blog.likes }}</div>
                </div>
            </div>
        }
    </div>
</section>