<div class="background"></div>
<article class="main" id="home">
    <h2 class="main__heading">AI Boosting Your Success</h2>
    <p class="main__subheading">Leading the Future of Automation</p>
    <a href="#book">Get Started</a>
</article>
<section class="services" id="book">
    <h2 class="services__heading">Services</h2>
    <div class="services__cards">
        @for (service of servicesList(); track service.id) {
            <div class="services__cards__card">
                <h3>{{ service.name }}</h3>
                <hr>
                <p>{{ service.price | currency: 'USD' : 'symbol' : '1.0-0'}}</p>
                <button (click)="toggleBooking(service.id)">Book Now</button>
            </div>
        }
    </div>
</section>
<app-service-booking [showBooking]="booking()" [idService]="serviceClicked()"></app-service-booking>
<section class="events">
    <h2 class="events__heading">Events</h2>
    <div class="events__cards">
        @for (event of eventsList(); track event.id) {
            <div class="events__cards__card">
                <h3>{{ event.name }}</h3>
                <p>{{ event.date }}</p>
                <p>{{ event.address }}</p>
                <button (click)="toggleEvent(event.id)">Register Now</button>
            </div>
        }
    </div>
</section>
<app-events-modal [showEvent]="registering()" [idEvent]="eventClicked()"></app-events-modal>
<section class="blog" id="blog">
    <h2 class="blog__heading">Blog</h2>
    <div class="blog__cards">
        @for (blog of blogList(); track blog.id) {
            <div class="blog__cards__card" (click)="toggleModal(blog.id)">
                <img [src]="'assets/images/' + blog.image">
                <p>{{ blog.author }}</p>
                <h3>{{ blog.name }}</h3>
                <p>{{ blog.description }}</p>
                <hr>
                <div class="blog__cards__card__footer">
                    <div class="blog__cards__card__footer__views"><div>👁</div>{{ blog.views }}</div>
                    <div class="blog__cards__card__footer__likes">{{ blog.likes }}<div class="like">❤︎</div></div>
                </div>
            </div>
        }
    </div>
</section>
<app-blog-modal [showModal]="modal()" [idBlog]="idClicked()"></app-blog-modal>
<section class="banner" id="program">
    <h2 class="banner__heading">Our AI Journey Begins Here</h2>
    <div class="banner__container">
        <img src="../../assets/images/server.png">
        <div class="banner__container__text">
            <p>AIBoost, an AI Automation Agency established in 2025, is committed to providing innovative solutions
                to business through AI chatbots, workflow automation, CRM, analytics, and more. Our platform empowers
                users to automate tasks, enhance productivity, and focus on growth strategies.</p>
            <a href="#footer">Text Us to Learn More</a>
        </div>
    </div>
</section>
<section class="clients">
    <h2 class="clients__heading">Clients</h2>
    <div class="clients__container">
        @for (client of clientsList(); track client.id) {
            <div class="clients__container__review">
                <p>{{ client.text }}</p>
                <p>{{ client.name }}</p>
            </div>
        }
    </div>
</section>